
/* REQUEST -------------------------------------------------------------------------*/

.requestDiv {
    text-align: center;
    padding: 20px;
}

.requestDiv *{
    margin: 5px;
}

.requestDiv #urlinput{
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 70vw;
}

.requestDiv select{
    padding: 15px;
}

.requestDiv button{
    padding: 15px;
    background-color: rgb(49, 151, 109);
    color: white;
    border: 0px;
    border-radius: 5px;
}

.requestDiv button:hover{
    cursor:pointer;
    background-color: rgb(29, 94, 67);
}



/* RESPONSE --------------------------------------------------------------------------*/
.ResponseDiv{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 12px;
    text-align: center;
    height: 40vh;
    max-height: 40vh;
}

.ResponseTabs{
    text-align: left;
    margin: 5px;
}

.ResponseTabs button{
    border: 0px;
    background-color: transparent;
}

.ResponseTabs button:hover{
    cursor: pointer;
    background-color: rgb(168, 168, 168);
}

.StatusDiv{
    margin-left: 20px;
    display: inline-block;
    padding: 5px;
}

.ResponseDiv textarea{
    width: 90%;
    height: 30vh; 
}
.ResponseDiv td, .ResponseDiv th{
    border: 1px solid black;
}

/* STATUS BACKGROUNDS */
#ok{
    background-color: rgba(122, 250, 122, 0.63);
}
#red{
    background-color: rgba(172, 236, 255, 0.822);
}
#clientError{
    background-color: rgba(255, 80, 80, 0.733);
}
#serverError{
    background-color: rgba(255, 242, 66, 0.712);
}